<div class="footer">

    <!-- Load More -->

    <div class="load-more">

        <button>
            Load More
        </button>

    </div>

    <!-- Article -->

    <div class="footer-content">

        <h2>
            Book Gigs Online, License Your Music, Singing Contests
        </h2>

        <p>
            With the growth of internet, innovative models are emerging for musicians to not only promote their music but also monetize the same. Gone are the days when musicians had to not only invest time and money for creating their music but also invest huge amount of time to find out how they promote their music, and earn revenues.
        </p>

        <p>
            For upcoming musicians the challenge was how to know about singing competition, how to find out the next battle of bands. On the other hand the challenge for established musician was to search for avenues where they could license music, book gigs, and produce songs or jingles for brands.
        </p>

        <p>
            However, the platforms like Songdew are changing the dynamics of the situation. They are allowing musicians to do what they do best - Create Music and provide loads of opportunities to promote and monetize their music.
        </p>

    </div>

    <!-- Footer Links -->

    <div class="footer-links">

        <div>

            <h4>Brands</h4>

            <a>Soundscapes</a>

            <a>Sync Licensing</a>

        </div>

        <div>

            <h4>Discover</h4>

            <a>Artists</a>

            <a>Playlists</a>

            <a>Blogs</a>

        </div>

        <div>

            <h4>Artists</h4>

            <a>e-Press Kit</a>

            <a>Distribute</a>

            <a>Promote</a>

            <a>Broadcast on TV</a>

        </div>

        <div>

            <h4>Company</h4>

            <a>Careers</a>

            <a>Contact Us</a>

            <a>Community</a>

            <a>Guidelines</a>

            <a>Privacy Policy</a>

        </div>

        <div>

            <h4>Terms</h4>

            <a>Terms of Use</a>

            <a>License Agreement</a>

            <a>Publishing Agreement</a>

        </div>

        <div>

            <h4>Contact Us</h4>

            <a>contact@songdew.com</a>

            <a>Plot No 448A, Enkay Square</a>

            <a>Gurgaon, Haryana</a>

        </div>

    </div>

    <!-- Bottom -->

    <div class="footer-bottom">

        <img
            src="assets/songdew-logo.png"
            class="footer-logo">

        <p>
            © 2026 Copyright Songdew Media Pvt Ltd.
        </p>

    </div>

</div>