<div class="footer">

    <!-- Load More -->

    <div class="load-more">

        <button>
            Load More
        </button>

    </div>

    <!-- Article -->

    <div class="footer-content">

        <h2>
            Book Gigs Online, License Your Music, Singing Contests
        </h2>

        <p>
           With the growth of internet , innovative models are emerging for musicians to not only promote their music but also to monetize the same. Gone are the days when musicians had to not only invest time and money for creating their music but also invest huge amount of time to find out how do they promote their music , and earn revenues.
        For upcoming musicians the challenge was how to know about singing competition , how to find out the next battle of bands . On the other hand the challenge for established musician was to search for avenues where they could license music, book gigs, and produce songs or jingles for brands. It was difficult. However, the platforms like Songdew are changing the dynamics of the situation. They are allowing musicians to do what they do best- Create Music and provide loads of opportunities to promote and monetize the music on the click of the button.
        Songdew ties up with various stakeholders such as FM Radios, Film producers, Brands , Event venues, Music festivals etc who need singers and bands for live performance or for the content creation- audio songs or video songs. Such opportunities like Book Gigs Online, Produce a Jingle for a Brand, License Your Music, Get Radio Plays , Broadcast Your Music Video on TV Channel, Get A Label Deal, Get Recording Session Free, Participate in Singers Contest, Battle of Bands etc are published on Songdew . Musicians , Singers and Bands could participate by simply clicking the tab .Out of all the entries , winning entry is decided by the expert panel.
        Thus, the emergence of music platforms like Songdew are acting as enablers for various stakeholders to get access to best musicians around the globe and for musicians, the access to various opportunities related with promotion or monetization of their music.
        </p>

    </div>

    <!-- Footer Links -->

    <div class="footer-links">

        <div>

            <h4>Brands</h4>

            <a>Soundscapes</a>

            <a>Sync Licensing</a>

        </div>

        <div>

            <h4>Discover</h4>

            <a>Artists</a>

            <a>Playlists</a>

            <a>Blogs</a>

        </div>

        <div>

            <h4>Artists</h4>

            <a>e-Press Kit</a>

            <a>Distribute</a>

            <a>Promote</a>

            <a>Broadcast on TV</a>

        </div>

        <div>

            <h4>Company</h4>

            <a>Careers</a>

            <a>Contact Us</a>

            <a>Community</a>

            <a>Guidelines</a>

            <a>Privacy Policy</a>

        </div>

        <div>

            <h4>Terms</h4>

            <a>Terms of Use</a>

            <a>License Agreement</a>

            <a>Publishing Agreement</a>

        </div>

        <div>

            <h4>Contact Us</h4>

            <a>contact@songdew.com</a>

            <a>Plot No 448A, Enkay Square</a>

            <a>Gurgaon, Haryana</a>

        </div>

    </div>

    <!-- Bottom -->
<div class="footer-bottom">

    <div class="footer-bottom-left">
        <img
            src="opportunities/Songdew_logo.png"
            class="footer-logo">

        <p class="footer-copyright">
            © 2026 Copyright Songdew Media Pvt Ltd. All rights reserved.
        </p>
    </div>

</div>

</div>